*{
    box-sizing: border-box;
    background-color: rgb(201, 188, 114);
    text-align: center;
}
h1 {
    font-size: 65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: underline;
    z-index: 2;
}
header {
    z-index: 1;
    background-attachment: fixed;
    background-color: rgb(201, 188, 114);
}

h1 {
    background-image: url(th\ \(1\).jpg);
    padding: 40px 30px;
    font-size: 90px;
}
.topnav {
    overflow: hidden;
    top: 60;
    padding: 10px;
  }
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 90px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 17px;
    top: 200px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .breakfast1 {
    height: 70px;
    width: 200px;
    border: 3px solid black;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
    background-size: 200px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifS;
    padding-top: 200px;
    color: rgb(0, 0, 0);
    background-image: url(th\ \(12\).jpg);
}

.breakfast2 {
    height: 70px;
    width: 200px;
    border: 3px solid black;
    display: inline-block;
    margin: 10px;
    background-size: 200px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifS;
    text-align: center;
    margin-left: 50px;
    padding-top: 200px;
    color: rgb(0, 0, 0);
    background-image: url(th\ \(13\).jpg);
}

.breakfast3 {
    height: 70px;
    width: 200px;
    border: 3px solid black;
    display: inline-block;
    margin: 10px;
    background-size: 200px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifS;
    text-align: center;
    padding-top: 200px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-image: url(th\ \(14\).jpg);
}

main{
    position: absolute;
}
section{
display: inline-block;
}
u {
    margin-left: 500px;
    color: black;
}
div {
    display: inline-block;
}
h3 {
    margin-right: 450px;
}
p{
    margin-left: 250px;
    margin-right: 250px;
}